<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>郭振伟个人博客_博客登录</title>
    <link rel="shortcut icon" href="../../static/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css" />
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}" />
</head>
<body>

    <div class="m-container-login">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column m-opacity-background-mini">
                    <h2 class="ui teal header">
                        <div class="content">
                            Blog Login
                        </div>
                    </h2>
                    <form id="login-form" class="ui large form" method="post" action="#" th:action="@{/guozhenwei/login}">
                        <div id="opacity-div" class="ui segment">
                            <div class="field">
                                <div class="ui left icon input m-input-placeholder">
                                    <i class="user icon"></i>
                                    <input id="username" type="text" class="m-opacity-background-transparent" placeholder="username" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input m-input-placeholder">
                                    <i class="lock icon"></i>
                                    <input id="password" type="password" class="m-opacity-background-transparent" placeholder="password" />
                                </div>
                            </div>
                            <button type="submit" class="ui fluid large teal button">Login</button>
                        </div>

                        <div id="errorMessage-div" class="ui mini error message"></div>
                        <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
                    </form>

                    <form id="submit-form" method="post" action="#" th:action="@{/guozhenwei/login}">
                        <input id="submitUsername-input" type="hidden" name="username" />
                        <input id="submitPassword-input" type="hidden" name="password" />
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.js"></script>

<script src="../../js/AES-new.js" th:src="@{/js/AES-new.js}"></script>
<script src="../../js/Base64.js" th:src="@{/js/Base64.js}"></script>

    <script th:inline="javascript">
        $('.ui.form').form({
            fields: {
                username: {
                    identifier: 'username',
                    rules: [{
                        type: 'empty',
                        prompt: '用户名不能为空'
                    }]
                },
                password: {
                    identifier: 'password',
                    rules: [{
                        type: 'empty',
                        prompt: '密码不能为空'
                    }]
                }
            }
        });

        $('#login-form').submit(function () {
            var username = $('#username').val();
            var password = $('#password').val();
            var trimPassword = trim(password);
            if (trimPassword != "") {
                var encodedPassword =  encryptPassword(trimPassword);
                $('#submitUsername-input').val(username);
                $('#submitPassword-input').val(encodedPassword);
                $('#submit-form').submit();
            }
            return false;
        });

        function encryptPassword(password) {
            var keyM = /*[[${session.key}]]*/"";
            var base64 = new Base64();
            var encryptData = encrypt(password, keyM);
            var encryptDataBase64 = base64.encode(encryptData);
            return encryptDataBase64;
        }

        function encrypt(word, keyM) {
            var key = CryptoJS.enc.Utf8.parse(keyM);
            var srcs = CryptoJS.enc.Utf8.parse(word);
            var encrypted = CryptoJS.AES.encrypt(srcs, key, {mode:CryptoJS.mode.ECB, padding:CryptoJS.pad.Pkcs7});
            return encrypted.toString();
        }

        function trim(str) {
            if (str == null) {
                return "";
            }
            return str.replace(/^\s*(.*?)[\s\n]*$/g,'$1');
        }
    </script>

<!--/*/ <th:block th:replace="_fragments :: js"> /*/-->
<!--/*/ </th:block> /*/-->
</body>
</html>